



<div class="card">
                <div class="card-header"><h2><b>{{college.name}}</b></h2>
                </div>
                <img class="card-img-top" src="{{college.image.url}}" alt="Image" width="500" height="400"/>
                <div class="card-body">
                  
                  <p class="card-text"><b>University Name: </b>{{college.university}}</p>
                  <p class="card-text"><b>State Name: </b>{{college.state}}</p>
                  <p class="card-text"><b>College Location: </b>{{college.location}}</p>
                  <p class="card-text"><b>College fee: </b>{{college.fee}}</p>
                  <p class="card-text"><b>College Grade: </b>{{college.grade}}</p>
                  <p class="card-text"><b>Differenet branches in college: </b>{{college.branch}}</p>
                  <p class="card-text"><b>Type of College: </b>{{college.types}}</p>
                  <p class="card-text"><b>Placement record percentage in the latest year: </b>{{college.placed}}</p>
                  <p class="card-text"><b>Some Useful Reviews: </b>{{college.review}}</p>
                  
                  
                </div>
  </div>
        
        
        
        
          
        
            

   